@page
@model BandIt.Pages.Concerts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2>Index</h2>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Concert[0].ConcertName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concert[0].Venue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concert[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concert[0].TicketPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concert[0].PerformingBand)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Concert) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformingBand.BandName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>