@page
@model ConcertsModel
@{
    ViewData["Title"] = "Concert Listing";
}

<div class="concert-listing">
    <div class="container">
        <form action="" method="POST" class="search-form clear-fix">
            <div class="form-group search-bar">
                <label class="control-label" for="search">Search by Band Name</label>
                <input type="text" class="form-control" name="ConcertSearch" id="search" />
            </div>
            <div class="form-group search-btn">
                <input type="submit" value="Search Concert" class="btn btn-default" />
            </div>
        </form>
        @if(Model.SearchCompleted == true){            
            @if(Model.SearchResults.Count == 0){
                <p>There are no concerts by this band.</p>
            }
            @foreach(var code in Model.SearchResults) {                
                <div class="concert-ticket clear-fix">
                    <div class="ticket-head">
                        <p class="ticket-concert">@code.ConcertName</p>
                        <p class="ticket-band">@code.PerformingBand.BandName</p>                    
                    </div>
                    <div class="ticket-art">
                        <img src="images/concerts/concert-"+@code.Id+".jpg">
                    </div>
                    <div class="ticket-footer">
                        <div class="ticket-footer-details clear-fix">
                            <p class="ticket-venue">@code.Venue</p>
                            <p class="ticket-date">@Html.DisplayFor(modelItem => @code.Date)</p>
                        </div>                    
                        <div class="ticket-nudge"></div>
                        <div class="ticket-detail">
                            <span class="ticket-barcode"></span>
                            <p class="ticket-price">$ @code.TicketPrice</p>
                        </div>
                    </div>
                </div>
            }
        }
        else {
            @foreach(var code in Model.Concerts) {
                <div class="concert-ticket clear-fix">
                    <div class="ticket-head">
                        <p class="ticket-concert">@code.ConcertName</p>
                        <p class="ticket-band">@code.PerformingBand.BandName</p>                    
                    </div>
                    <div class="ticket-art">
                        <img src="images/concerts/concert-@code.Id a.jpg">
                    </div>
                    <div class="ticket-footer">
                        <div class="ticket-footer-details clear-fix">
                            <p class="ticket-venue">@code.Venue</p>
                            <p class="ticket-date">@Html.DisplayFor(modelItem => @code.Date)</p>
                        </div>                    
                        <div class="ticket-nudge"></div>
                        <div class="ticket-detail">
                            <span class="ticket-barcode"></span>
                            <p class="ticket-price">$ @code.TicketPrice</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>