@page
@model ConcertsModel
@{
}

    <form action="" method="POST" class="search-form clear-fix">
        <div class="form-group search-bar">
            <label class="control-label" for="search">Search by Band Name</label>
            <input type="text" class="form-control" name="ConcertSearch" id="search" />
        </div>
        <div class="form-group search-btn">
            <input type="submit" value="Search Concert" class="btn btn-default" />
        </div>
    </form>
<div class="container">
    @if(Model.SearchCompleted == true){
        @if(Model.SearchResults.Count == 0){
            <p>There are no concerts by this band.</p>
        }
        @foreach(var code in Model.SearchResults) {
            <div class="band-tile">    
                <div class="band-info">  
                    <p class="band-name"><span class="band-label">Name: </span>@code.ConcertName</p>                      
                    <p class="band-genre"><span class="band-label">Venue: </span>@code.Venue</p>
                    <p class="band-origin"><span class="band-label">Date: </span>@Html.DisplayFor(modelItem => @code.Date)</p>            
                    <p class="band-founded"><span class="band-label">Ticket Price: </span>@code.TicketPrice</p>
                    <p class="band-manager"><span class="band-label">Performing Artist: </span>@code.PerformingBand.BandName</p>        
                </div>
            </div>
        }
    }    
</div>