@page
@model BandIt.Pages.Managers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Manager</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Manager.ManagerName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.ManagerName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Age)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Age)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Image)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Image)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Experience)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Experience)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Nationality)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Nationality)
            </dd>
        </dl>
        
        <form method="post">
            <input type="hidden" asp-for="Manager.Id" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>