@page
@model BandIt.Pages.Managers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Manager</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Manager.ManagerName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.ManagerName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Age)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Age)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Image)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Image)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Experience)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Experience)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Manager.Nationality)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Manager.Nationality)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Manager.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>