@page
@model BandIt.Pages.Managers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].ManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Nationality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Manager) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
