@page
@model CoreCrud.Pages.Destinations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Climate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination.Climate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Food)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination.Food)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination.PeakSeasonStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination.PeakSeasonStart)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Destination.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
